body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
}

.caja {
  width: 300px;
  height: 200px;
  display: inline-block;
  margin: 15px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  line-height: 200px;
  text-shadow: 1px 1px 3px #000;
  background-size: cover;
  background-position: center;
  
}

/* Imagen local */
.local {
  background-image: url("cafe.jpeg");
}

/* Imagen externa */
.externa {
  background-image: url("https://livingandtravel.com.mx/wp-content/uploads/2021/06/coffee-cafe.jpeg");
 
}

/* Degradado */
.degradado {
  background-image: linear-gradient(to right, rgb(30, 73, 64), rgb(71, 32, 25));
