body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
}

.caja {
  width: 300px;
  height: 200px;
  display: inline-block;
  margin: 15px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  line-height: 200px;
  text-shadow: 1px 1px 3px #000;
 /* background-image: url("https://livingandtravel.com.mx/wp-content/uploads/2021/06/coffee-cafe.jpeg");*/
background-image: url("cafe.jpeg");
  background-size: cover;
  background-position: center;
}

/* Filtros */
.grayscale {
  filter: grayscale(100%);
}

.blur {
  filter: blur(4px);
}

.invert {
  filter: invert(100%);
}

.saturate {
  filter: saturate(300%);
}

.hue-rotate {
  filter: hue-rotate(180deg);
}