body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
}

.caja {
  width: 300px;
  height: 200px;
  display: inline-block;
  margin: 15px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  line-height: 200px;
  text-shadow: 1px 1px 3px #000;
}

/* Imagen local */
.local {
  background-image: url("costaquebrada.jpeg");
  background-size: cover;
  background-position: center;
}

/* Imagen externa */
.externa {
  background-image: url("https://www.wildmind.org/wp-content/uploads/2013/12/Fotolia_53209328_XS.jpg");
  background-size: cover;
  background-position: center;
}

/* Degradado */
.degradado {
  background-image: linear-gradient(to right, rgb(255, 100, 100), rgb(0, 150, 255));
}

